@font-face {
    font-family: "NotoSansCJKkr";
    src:url("../assets/fonts/notosanscjkkr/NotoSansCJKkr-Regular.otf");
}
@font-face {
    font-family: "Montserrat";
    src:url("../assets/fonts/montserrat/Montserrat-Regular.ttf");
}