.picks-swiper{
  position:initial;
}

.swiper-pagination {
  top: 79.8%!important;
}

.swiper-pagination-bullet{
  width: 4px !important;
  height: 4px!important;
  margin: 0 3px!important;
  opacity: 0.3!important;
  background-color: #ffffff!important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
